<form [formGroup]="signupForm" (ngSubmit)="onSubmit(signupForm)" novalidate>
    <input type="text" class="signup-form__input-text" id="username" placeholder="username" formControlName="username">
    <div class="signup-form__message-area">
        <span class="message message--error" *ngIf="username.invalid && username.errors.required && username.touched">
            Username is required
        </span>
    </div>
    <input type="text" class="signup-form__input-text" placeholder="email" formControlName="email">
    <div class="signup-form__message-area">
        <span class="message message--error" *ngIf="email.invalid && email.errors.email && email.touched">
            Please enter a valid email
        </span>
    </div>
    <div formGroupName="passwords" class="form-group">
        <input type="password" class="signup-form__input-text" placeholder="password" formControlName="password">
        <div class="signup-form__message-area">
            <span class="message message--error" *ngIf="password.invalid && password.errors.minlength && password.touched">
                Passwords must be at least 8 characters
            </span>
            <span class="message message--error" *ngIf="password.invalid && password.errors.required && password.touched">
                Password is required
            </span>
        </div>
        <input type="password" class="signup-form__input-text pw-confirmation" placeholder="confirm password" formControlName="confirmPass">
        <div class="signup-form__message-area">
            <span class="message message--error" *ngIf="signupForm.hasError('notSame', 'passwords')">
                Passwords do not match
            </span>
        </div>
    </div>
    <button type="submit" class="signup-form__submit" [disabled]="signupForm.invalid">Sign Up</button>
</form>