<div class="top-buttons">
  <span *ngIf="!editing" class="top-button" (click)="toggleEditing()">
    Edit
  </span>
  <div *ngIf="editing">
    <span class="top-button" (click)="toggleEditing()">
      Cancel
    </span>
    <span class="top-button">
      Save
    </span>
  </div>
</div>

<div class="paper" *ngIf="song && sections">
  <h1 [attr.contenteditable]="editing" class="song__title">{{ song.title }}</h1>
  <p [attr.contenteditable]="editing" class="song__artist">{{ song.artist }}</p>
  <div class="song__section"
    *ngFor="let section of sections, let i = index">
    <div class="section__line" 
      *ngFor="let line of sections[i].lines, let j = index">
      <span class="line__block"
        *ngFor="let block of sections[i].lines[j].blocks">
        <span [attr.contenteditable]="editing"
          [ngClass]="{'block__chord': true, 'block__chord--editing': editing}">{{ block.chord }}</span>
        <span [attr.contenteditable]="editing"
          [ngClass]="{'block__word': true, 'block__word--editing': editing}">{{ block.word }}</span>
      </span>
    </div>
  </div>
</div>