<div class="home-header">
    <div class="home-header__overlay"></div>
    <div class="home-header__middle">
        <h1 class="home-header__title">{{ title }}</h1><br>
        <a routerLink="/signup" class="home-header__signup">
            Get started for free
        </a>
        <span class="home-header__login">
            Already have an account?
            <a href="#" class="home-header__login-link">login</a>
        </span>
    </div>
</div>
<div class="debug-section">
    <ul>
        <li *ngFor="let user of users">
            {{ user.username }} - {{ user.email }} - <a (click)="deleteUser(user._id)">delete</a>
        </li>
    </ul>
</div>
<div class="section">
    <div class="section__text">
        <h1 class="section__header">
            Lyric Sheets Made Easy
        </h1>
        <h3 class="section__blurb">So you can focus on what matters: writing and playing music.</h3>
    </div><div class="section__image section__image--1">
        <div class="section__image-overlay"></div>
        <div class="section__triangle section__triangle--right"></div>
    </div>
</div>
<div class="section">
    <div class="section__image section__image--2">
        <div class="section__image-overlay"></div>
        <div class="section__triangle section__triangle--left"></div>
    </div><div class="section__text">
        <h1 class="section__header">
            Get Social
        </h1>
        <h3 class="section__blurb">
            Music is best when shared with others. Open the same song,
            change the key, and have fun.
        </h3>
    </div>
</div>