<div class="content">
    <div class="signup-text half-column">
        <h2 class="signup-text__header">Sign up for free!</h2>
        <ul class="signup-text__list">
            <li class="signup-text__list-item">Create as many song sheets as you'd like.</li>
            <li class="signup-text__list-item">Share songs with friends.</li>
            <li class="signup-text__list-item">Vote for your favorites.</li>
            <li class="signup-text__list-item">Play music and have fun!</li>
        </ul>
    </div><div class="signup-form half-column">
        <app-signup-form></app-signup-form>
    </div>
</div>