.navbar {
    position: relative;
    height: 40px;
    background-color: cadetblue;
}

.navbar__title {
    position: absolute;
    top: 5px;
    left: 10px;
    font-family: 'Aladin', cursive;
    font-size: 25px;
    color: white;
}

.navbar__username {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
}